<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title >blog--文章页面</title>
    <link  href="../../../static/css/blog1/article_page.css" rel="stylesheet" type="text/css">
</head>

<body >
    <div class="topHeader">
        <ul>
            <li><a  id="a_id">编辑</a></li>
            <li><a href="/blog1/">首页</a></li>

            <div class="clear"></div>
        </ul>
    </div>
    <div class="midContent">
        <div class="article">
            <div >
                <h1 id="title" ></h1>
            </div>
            <div class="auth" id="auth">

            </div>
            <div id="contenttext">
{#            pre缩进问题，如果不这样写，前面会出现空格和换行，子页面同#}
{#                <pre class="pre" id="contenttext">#}
{##}
{#                </pre>#}

            </div>
        </div>
    </div>

    {% block copyright %}
    <div class="copyright">
        <span>© 著作权归作者所有&nbsp;&nbsp;中国地质大学（武汉）</span>
    </div>
    {% endblock copyright %}
</body>

</html>
<script type="text/javascript">
    var html = {{ article|safe }};
    document.getElementById('contenttext').innerHTML = html['content'];
    document.getElementById('auth').innerHTML = '作者:'+html['auth'];
    document.getElementById('title').innerHTML = html['title'];
    document.getElementById('a_id').href = "/blog1/edit/"+html['id']

    window.onload= function () {
        var article = {{ article|safe }};
        if (article['tag']==1)
        {
            window.alert('编辑成功');
        }

    }
</script>

